header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}
.header  {
    font-size: 32px;
    font-family: monospace;
}
.sub-header {
    font-size: 17px;
    color: #49aec8;
    font-family: monospace;
}
